In [2]:
from population_init import generate
from character import CharacterType
#from src.stats import random_stats

N = 20
maxStatsValue = 150
type = CharacterType.ARCHER

#equipment_data = random_stats(N, maxStatsValue)
poblacion_inicial = generate(N,maxStatsValue,type)

poblacion_inicial

,strength,agility,expertise,resistance,life,height,type,performance
15,56,32,40,18,4,1.9,CharacterType.ARCHER,734.686911
5,58,24,40,19,9,1.7,CharacterType.ARCHER,695.834588
10,55,27,28,32,8,1.6,CharacterType.ARCHER,501.785512
16,82,2,22,3,41,1.8,CharacterType.ARCHER,488.606328
12,26,42,49,17,16,1.4,CharacterType.ARCHER,428.680079
14,88,15,16,11,20,1.7,CharacterType.ARCHER,412.492793
2,34,3,39,40,34,1.8,CharacterType.ARCHER,409.863317
6,22,26,56,36,10,1.3,CharacterType.ARCHER,352.639913
1,12,3,92,34,9,1.3,CharacterType.ARCHER,261.083653
13,14,8,57,18,53,1.7,CharacterType.ARCHER,250.781430
18,84,21,7,6,32,1.5,CharacterType.ARCHER,231.095277
11,25,7,26,42,50,1.8,CharacterType.ARCHER,220.825044
3,37,60,7,43,3,1.6,CharacterType.ARCHER,178.177917
17,44,43,1,31,31,1.9,CharacterType.ARCHER,108.266705
9,37,12,7,85,9,1.6,CharacterType.ARCHER,101.367656
19,16,109,4,9,12,1.5,CharacterType.ARCHER,88.311670
0,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696
4,5,4,30,12,99,1.9,CharacterType.ARCHER,61.154020
7,11,111,3,13,12,1.3,CharacterType.ARCHER,52.946537
8,7,9,1,23,110,2.0,CharacterType.ARCHER,7.941179

#### Seleccion de k indiduos
A*(método1) + (1-A)*(método2)

In [3]:
import numpy as np
#Dado un K
#Si quiero un 40% de la selección con metodo1
K = 10
m1_perc = 0.4
N1 = int(np.round(K * m1_perc))
N2 = K - N1
N1

4

In [4]:
#Añado las columnas de desempeño relativo y acumulado
from selection import add_relative_acumulate
poblacion_rel_acu = add_relative_acumulate(poblacion_inicial)

In [5]:
from selection import elitist_selection
nueva_poblacion_e = elitist_selection(poblacion_rel_acu,N1)
nueva_poblacion_e

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,56,32,40,18,4,1.9,CharacterType.ARCHER,734.686911,0.129675,0.129675
1,58,24,40,19,9,1.7,CharacterType.ARCHER,695.834588,0.122817,0.252491
2,55,27,28,32,8,1.6,CharacterType.ARCHER,501.785512,0.088567,0.341058
3,82,2,22,3,41,1.8,CharacterType.ARCHER,488.606328,0.086241,0.427299

In [6]:
from selection import roulette_wheel_selection
nueva_poblacion_rul = roulette_wheel_selection(poblacion_rel_acu, N2)
nueva_poblacion_rul

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
1,22,26,56,36,10,1.3,CharacterType.ARCHER,352.639913,0.062242,0.710352
2,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
3,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
4,7,9,1,23,110,2.0,CharacterType.ARCHER,7.941179,0.001402,1.000000
5,37,60,7,43,3,1.6,CharacterType.ARCHER,178.177917,0.031449,0.911913

In [7]:
import pandas as pd
selection_total = pd.concat([nueva_poblacion_e,nueva_poblacion_rul])
selection_total

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,56,32,40,18,4,1.9,CharacterType.ARCHER,734.686911,0.129675,0.129675
1,58,24,40,19,9,1.7,CharacterType.ARCHER,695.834588,0.122817,0.252491
2,55,27,28,32,8,1.6,CharacterType.ARCHER,501.785512,0.088567,0.341058
3,82,2,22,3,41,1.8,CharacterType.ARCHER,488.606328,0.086241,0.427299
0,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
1,22,26,56,36,10,1.3,CharacterType.ARCHER,352.639913,0.062242,0.710352
2,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
3,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
4,7,9,1,23,110,2.0,CharacterType.ARCHER,7.941179,0.001402,1.0
5,37,60,7,43,3,1.6,CharacterType.ARCHER,178.177917,0.031449,0.911913

In [8]:
from genes import  encode_genes

cromosomas = encode_genes(selection_total)
cromosomas

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
1,00111000,00100000,00101000,00010010,00000100,110,CharacterType.ARCHER,734.686911,0.129675,0.129675
2,00111010,00011000,00101000,00010011,00001001,100,CharacterType.ARCHER,695.834588,0.122817,0.252491
3,00110111,00011011,00011100,00100000,00001000,011,CharacterType.ARCHER,501.785512,0.088567,0.341058
4,01010010,00000010,00010110,00000011,00101001,101,CharacterType.ARCHER,488.606328,0.086241,0.427299
5,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
6,00010110,00011010,00111000,00100100,00001010,000,CharacterType.ARCHER,352.639913,0.062242,0.710352
7,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
8,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
9,00000111,00001001,00000001,00010111,01101110,111,CharacterType.ARCHER,7.941179,0.001402,1.0
10,00100101,00111100,00000111,00101011,00000011,011,CharacterType.ARCHER,178.177917,0.031449,0.911913

In [9]:
from crossover import single_point_crossover
new_individuals = single_point_crossover(cromosomas)
new_individuals

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,00111000,00100000,00101000,00010011,00001001,100,CharacterType.ARCHER,695.834588,0.122817,0.252491
1,00111010,00011000,00101000,00010010,00000100,110,CharacterType.ARCHER,734.686911,0.129675,0.129675
2,00110111,00011011,00011100,00100000,00001000,011,CharacterType.ARCHER,488.606328,0.086241,0.427299
3,01010010,00000010,00010110,00000011,00101001,101,CharacterType.ARCHER,501.785512,0.088567,0.341058
4,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,352.639913,0.062242,0.710352
5,00010110,00011010,00111000,00100100,00001010,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
6,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
7,00000100,00011000,00110100,00011111,00100111,000,CharacterType.ARCHER,79.082696,0.013958,0.978459
8,00000111,00001001,00000111,00101011,00000011,011,CharacterType.ARCHER,178.177917,0.031449,0.911913
9,00100101,00111100,00000001,00010111,01101110,111,CharacterType.ARCHER,7.941179,0.001402,1.000000

In [10]:
from genes import decode_genes
cromosomas_decoded = decode_genes(new_individuals)
cromosomas_decoded

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
1,56,32,40,19,9,1.7,CharacterType.ARCHER,695.834588,0.122817,0.252491
2,58,24,40,18,4,1.9,CharacterType.ARCHER,734.686911,0.129675,0.129675
3,55,27,28,32,8,1.6,CharacterType.ARCHER,488.606328,0.086241,0.427299
4,82,2,22,3,41,1.8,CharacterType.ARCHER,501.785512,0.088567,0.341058
5,4,24,52,31,39,1.3,CharacterType.ARCHER,352.639913,0.062242,0.710352
6,22,26,56,36,10,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
7,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
8,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
9,7,9,7,43,3,1.6,CharacterType.ARCHER,178.177917,0.031449,0.911913
10,37,60,1,23,110,2.0,CharacterType.ARCHER,7.941179,0.001402,1.000000

In [13]:
from crossover import valid_offspring
offspings, offspring_ok = valid_offspring(cromosomas_decoded)

print(f"Cantidad de hijos validos: {offspings}")
offspring_ok

Cantidad de hijos validos: 6

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
3,55,27,28,32,8,1.6,CharacterType.ARCHER,488.606328,0.086241,0.427299
4,82,2,22,3,41,1.8,CharacterType.ARCHER,501.785512,0.088567,0.341058
5,4,24,52,31,39,1.3,CharacterType.ARCHER,352.639913,0.062242,0.710352
6,22,26,56,36,10,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
7,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459
8,4,24,52,31,39,1.3,CharacterType.ARCHER,79.082696,0.013958,0.978459

In [7]:
from genes import height_to_bin
hb = height_to_bin(1.1)
hb

'no valido'

In [8]:
from genes import height_to_dec
hd = height_to_dec('101')
hd

1.8