In [12]:
from population_init import generate
from character import CharacterType
#from src.stats import random_stats

N = 20
maxStatsValue = 150
type = CharacterType.ARCHER

#equipment_data = random_stats(N, maxStatsValue)
poblacion_inicial = generate(N,maxStatsValue,type)

poblacion_inicial

,strength,agility,expertise,resistance,life,height,type,performance
16,40,40,52,9,9,1.8,CharacterType.ARCHER,672.400766
13,35,12,54,14,35,1.7,CharacterType.ARCHER,557.804337
0,29,15,64,14,28,1.8,CharacterType.ARCHER,551.456047
15,66,33,22,10,19,1.6,CharacterType.ARCHER,494.655353
19,45,36,30,10,29,2.0,CharacterType.ARCHER,482.071696
5,32,16,45,19,38,1.4,CharacterType.ARCHER,454.930496
7,33,18,30,21,48,1.5,CharacterType.ARCHER,337.084746
9,36,26,19,5,64,1.7,CharacterType.ARCHER,258.964061
8,34,90,12,11,3,1.4,CharacterType.ARCHER,250.709845
6,84,39,4,6,17,1.7,CharacterType.ARCHER,221.651855
3,47,39,7,20,37,1.6,CharacterType.ARCHER,184.592388
18,18,58,21,44,9,1.9,CharacterType.ARCHER,176.519317
14,12,32,32,26,48,1.7,CharacterType.ARCHER,147.201487
10,5,3,75,18,49,1.9,CharacterType.ARCHER,121.566420
17,6,80,41,20,3,1.8,CharacterType.ARCHER,98.205421
4,4,61,64,6,15,1.8,CharacterType.ARCHER,90.364577
11,7,50,25,7,61,1.3,CharacterType.ARCHER,78.993480
2,2,10,82,26,30,1.7,CharacterType.ARCHER,58.065593
12,7,23,7,94,19,1.7,CharacterType.ARCHER,26.256836
1,4,5,12,24,105,1.7,CharacterType.ARCHER,24.647720

#### Seleccion de k indiduos
A*(método1) + (1-A)*(método2)

In [18]:
import numpy as np
#Dado un K
#Si quiero un 40% de la selección con metodo1
K = 10
m1_perc = 0.4
N1 = int(np.round(K * m1_perc))
N2 = K - N1
N1

4

In [26]:
#Añado las columnas de desempeño relativo y acumulado
from selection import add_relative_acumulate
poblacion_rel_acu = add_relative_acumulate(poblacion_inicial)

In [27]:
from selection import elitist_selection
nueva_poblacion_e = elitist_selection(poblacion_rel_acu,N1)
nueva_poblacion_e

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,40,40,52,9,9,1.8,CharacterType.ARCHER,672.400766,0.127153,0.127153
1,35,12,54,14,35,1.7,CharacterType.ARCHER,557.804337,0.105482,0.232635
2,29,15,64,14,28,1.8,CharacterType.ARCHER,551.456047,0.104282,0.336916
3,66,33,22,10,19,1.6,CharacterType.ARCHER,494.655353,0.09354,0.430457

In [28]:
from selection import roulette_wheel_selection
nueva_poblacion_rul = roulette_wheel_selection(poblacion_rel_acu, N2)
nueva_poblacion_rul

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,4,5,12,24,105,1.7,CharacterType.ARCHER,24.647720,0.004661,1.000000
1,6,80,41,20,3,1.8,CharacterType.ARCHER,98.205421,0.018571,0.947367
2,4,5,12,24,105,1.7,CharacterType.ARCHER,24.647720,0.004661,1.000000
3,29,15,64,14,28,1.8,CharacterType.ARCHER,551.456047,0.104282,0.336916
4,4,61,64,6,15,1.8,CharacterType.ARCHER,90.364577,0.017088,0.964456
5,36,26,19,5,64,1.7,CharacterType.ARCHER,258.964061,0.048971,0.720360

In [29]:
import pandas as pd
selection_total = pd.concat([nueva_poblacion_e,nueva_poblacion_rul])
selection_total

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,40,40,52,9,9,1.8,CharacterType.ARCHER,672.400766,0.127153,0.127153
1,35,12,54,14,35,1.7,CharacterType.ARCHER,557.804337,0.105482,0.232635
2,29,15,64,14,28,1.8,CharacterType.ARCHER,551.456047,0.104282,0.336916
3,66,33,22,10,19,1.6,CharacterType.ARCHER,494.655353,0.09354,0.430457
0,4,5,12,24,105,1.7,CharacterType.ARCHER,24.64772,0.004661,1.0
1,6,80,41,20,3,1.8,CharacterType.ARCHER,98.205421,0.018571,0.947367
2,4,5,12,24,105,1.7,CharacterType.ARCHER,24.64772,0.004661,1.0
3,29,15,64,14,28,1.8,CharacterType.ARCHER,551.456047,0.104282,0.336916
4,4,61,64,6,15,1.8,CharacterType.ARCHER,90.364577,0.017088,0.964456
5,36,26,19,5,64,1.7,CharacterType.ARCHER,258.964061,0.048971,0.72036

In [5]:
from genes import  encode_genes

cromosomas = encode_genes(poblacion_inicial)
cromosomas

    strength   agility expertise resistance      life height
1   01010110  00000011  00100001   00000010  00011010    111
2   01000001  00010110  00011010   00000101  00100000    101
3   00110000  00000011  00100101   00001101  00110001    101
4   00110001  00001100  00010010   00001110  00111001    100
5   00001001  00100010  00110000   00111001  00000010    100
6   00101100  00111000  00000010   00010001  00011111    011
7   00001100  00010100  00011111   01010000  00000111    101
8   00001000  00011000  00100110   00011000  00111000    011
9   00001010  01110000  00001001   00001010  00001001    010
10  00000001  01010101  00001011   00101011  00001010    011

In [6]:
from genes import decode_genes
poblacion_nueva = decode_genes(cromosomas)
poblacion_nueva

    strength  agility  expertise  resistance  life  height
1         86        3         33           2    26     2.0
2         65       22         26           5    32     1.8
3         48        3         37          13    49     1.8
4         49       12         18          14    57     1.7
5          9       34         48          57     2     1.7
6         44       56          2          17    31     1.6
7         12       20         31          80     7     1.8
8          8       24         38          24    56     1.6
9         10      112          9          10     9     1.5
10         1       85         11          43    10     1.6

In [7]:
from genes import height_to_bin
hb = height_to_bin(1.1)
hb

'no valido'

In [8]:
from genes import height_to_dec
hd = height_to_dec('101')
hd

1.8