In [1]:
from population_init import generate
from character import CharacterType
#from src.stats import random_stats

N = 20
maxStatsValue = 150
type = CharacterType.ARCHER

#equipment_data = random_stats(N, maxStatsValue)
poblacion_inicial = generate(N,maxStatsValue,type)

poblacion_inicial

,equipmentIndex,strength,agility,expertise,resistance,life,height,type,performance
6,6,61,17,67,2,3,1.6,CharacterType.ARCHER,1052.898973
9,9,89,14,35,6,6,1.9,CharacterType.ARCHER,857.357642
19,19,49,10,61,15,15,2.0,CharacterType.ARCHER,830.299427
15,15,46,10,59,27,8,1.3,CharacterType.ARCHER,689.276864
7,7,58,19,32,26,15,1.5,CharacterType.ARCHER,574.447794
10,10,36,70,34,7,3,1.7,CharacterType.ARCHER,468.457270
11,11,26,4,58,37,25,1.5,CharacterType.ARCHER,440.661964
1,1,47,12,24,64,3,2.0,CharacterType.ARCHER,363.201789
12,12,31,52,30,12,25,1.4,CharacterType.ARCHER,361.771854
13,13,66,24,15,26,19,1.8,CharacterType.ARCHER,356.646157
5,5,42,41,21,40,6,1.5,CharacterType.ARCHER,346.829061
16,16,22,32,45,18,33,1.7,CharacterType.ARCHER,334.240899
2,2,33,25,22,29,41,1.3,CharacterType.ARCHER,248.689105
18,18,21,40,31,11,47,1.7,CharacterType.ARCHER,247.785722
14,14,39,25,9,41,36,1.9,CharacterType.ARCHER,164.906779
17,17,12,61,24,23,30,1.9,CharacterType.ARCHER,134.240168
3,3,32,14,10,66,28,1.3,CharacterType.ARCHER,115.940496
0,0,13,88,11,5,33,1.7,CharacterType.ARCHER,95.546588
4,4,19,56,5,53,17,1.5,CharacterType.ARCHER,82.441435
8,8,4,49,55,25,17,2.0,CharacterType.ARCHER,80.107775

In [2]:
from genes import  encode_genes

cromosomas = encode_genes(poblacion_inicial)
cromosomas

    strength   agility expertise resistance      life height
1   00111101  00010001  01000011   00000010  00000011    011
2   01011001  00001110  00100011   00000110  00000110    110
3   00110001  00001010  00111101   00001111  00001111    111
4   00101110  00001010  00111011   00011011  00001000    000
5   00111010  00010011  00100000   00011010  00001111    010
6   00100100  01000110  00100010   00000111  00000011    100
7   00011010  00000100  00111010   00100101  00011001    010
8   00101111  00001100  00011000   01000000  00000011    111
9   00011111  00110100  00011110   00001100  00011001    001
10  01000010  00011000  00001111   00011010  00010011    101
11  00101010  00101001  00010101   00101000  00000110    010
12  00010110  00100000  00101101   00010010  00100001    100
13  00100001  00011001  00010110   00011101  00101001    000
14  00010101  00101000  00011111   00001011  00101111    100
15  00100111  00011001  00001001   00101001  00100100    110
16  00001100  00111101  00011000   00010111  00011110    110
17  00100000  00001110  00001010   01000010  00011100    000
18  00001101  01011000  00001011   00000101  00100001    100
19  00010011  00111000  00000101   00110101  00010001    010
20  00000100  00110001  00110111   00011001  00010001    111

In [4]:
from genes import decode_genes
cromosomas = decode_genes(poblacion_inicial)
cromosomas

AttributeError: 'float' object has no attribute 'zfill'

In [5]:
from genes import norm_genes_dec
cromosomas_dec = norm_genes_dec(poblacion_inicial,1.3,2.0,150)
cromosomas_dec

    strength  agility  expertise  resistance  life  height
1         24        1         34          24     4       1
2         42        5          7           8    24       0
3          6        2         58          15     5       1
4         15       15         13          32    11       0
5         20       23          8           0    35       1
6          8        4         28          32    14       2
7         32       34          2           5    12       0
8         19       32          6          10    19       0
9         38        4          3          30    10       1
10        21       41          1          19     4       0
11        19       25          3           2    37       2
12         6        3         13          40    24       2
13         4       37         10          15    21       0
14         2       45         19          19     1       0
15         8       12          4          51    11       2
16         7       19          2          44    13       1
17         1       24         15           3    43       1
18         9        5          2           4    66       2
19         2       32          5          19    27       0
20         2       12          4          44    24       0

In [7]:
from genes import encode_norm_genes
cromosomas = encode_norm_genes(poblacion_inicial,130,200,150)
cromosomas

ImportError: cannot import name 'encode_norm_genes' from 'genes' (c:\Users\dpenaloza\Downloads\SIA\sia-tp2\src\genes.py)