In [228]:
from population_init import generate
from character import CharacterType
#from src.stats import random_stats

N = 20
maxStatsValue = 150
type = CharacterType.ARCHER

#equipment_data = random_stats(N, maxStatsValue)
poblacion_inicial = generate(N,maxStatsValue,type)

poblacion_inicial

,strength,agility,expertise,resistance,life,height,type,performance
16,62,19,42,24,3,1.8,CharacterType.ARCHER,769.797636
18,30,3,68,46,3,1.8,CharacterType.ARCHER,567.405485
17,76,2,26,13,33,1.3,CharacterType.ARCHER,489.696140
3,38,22,37,33,20,1.6,CharacterType.ARCHER,451.662288
11,42,22,22,3,61,1.9,CharacterType.ARCHER,341.472726
19,50,8,21,23,48,1.8,CharacterType.ARCHER,338.019194
1,19,29,45,32,25,1.6,CharacterType.ARCHER,285.643582
5,12,5,84,22,27,2.0,CharacterType.ARCHER,280.010435
13,16,38,44,41,11,1.9,CharacterType.ARCHER,254.330398
9,29,18,21,55,27,1.4,CharacterType.ARCHER,218.726201
10,32,81,12,13,12,1.3,CharacterType.ARCHER,209.967883
7,20,13,31,76,10,2.0,CharacterType.ARCHER,208.342137
6,16,39,31,42,22,2.0,CharacterType.ARCHER,191.007955
0,23,108,13,1,5,1.4,CharacterType.ARCHER,189.683180
14,32,65,8,11,34,1.9,CharacterType.ARCHER,182.991245
2,11,9,53,76,1,1.4,CharacterType.ARCHER,175.925497
8,9,33,44,60,4,1.4,CharacterType.ARCHER,135.448976
12,11,75,1,16,47,1.4,CharacterType.ARCHER,41.673718
15,16,16,2,91,25,1.5,CharacterType.ARCHER,25.810653
4,4,15,3,125,3,1.5,CharacterType.ARCHER,7.352667

#### Seleccion de k indiduos
A*(método1) + (1-A)*(método2)

In [229]:
import numpy as np
#Dado un K
#Si quiero un 40% de la selección con metodo1
K = 10
m1_perc = 0.6
N1 = int(np.round(K * m1_perc))
N2 = K - N1
#N1

In [230]:
#Añado las columnas de desempeño relativo y acumulado
from selection import add_relative_acumulate
poblacion_rel_acu = add_relative_acumulate(poblacion_inicial)

In [231]:
from selection import elitist_selection
nueva_poblacion_e = elitist_selection(poblacion_rel_acu,N1)
#nueva_poblacion_e

In [232]:
from selection import roulette_wheel_selection
nueva_poblacion_rul = roulette_wheel_selection(poblacion_rel_acu, N2)
#nueva_poblacion_rul

In [233]:
import pandas as pd
selection_total = pd.concat([nueva_poblacion_e,nueva_poblacion_rul])
selection_total

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,62,19,42,24,3,1.8,CharacterType.ARCHER,769.797636,0.143486,0.143486
1,30,3,68,46,3,1.8,CharacterType.ARCHER,567.405485,0.105761,0.249247
2,76,2,26,13,33,1.3,CharacterType.ARCHER,489.69614,0.091277,0.340524
3,38,22,37,33,20,1.6,CharacterType.ARCHER,451.662288,0.084187,0.424711
4,42,22,22,3,61,1.9,CharacterType.ARCHER,341.472726,0.063649,0.48836
5,50,8,21,23,48,1.8,CharacterType.ARCHER,338.019194,0.063005,0.551365
0,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904
1,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904
2,16,39,31,42,22,2.0,CharacterType.ARCHER,191.007955,0.035603,0.858548
3,11,75,1,16,47,1.4,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [234]:
from genes import  encode_genes

cromosomas = encode_genes(selection_total)
cromosomas

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
1,00111110,00010011,00101010,00011000,00000011,101,CharacterType.ARCHER,769.797636,0.143486,0.143486
2,00011110,00000011,01000100,00101110,00000011,101,CharacterType.ARCHER,567.405485,0.105761,0.249247
3,01001100,00000010,00011010,00001101,00100001,000,CharacterType.ARCHER,489.69614,0.091277,0.340524
4,00100110,00010110,00100101,00100001,00010100,011,CharacterType.ARCHER,451.662288,0.084187,0.424711
5,00101010,00010110,00010110,00000011,00111101,110,CharacterType.ARCHER,341.472726,0.063649,0.48836
6,00110010,00001000,00010101,00010111,00110000,101,CharacterType.ARCHER,338.019194,0.063005,0.551365
7,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.68318,0.035356,0.893904
8,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.68318,0.035356,0.893904
9,00010000,00100111,00011111,00101010,00010110,111,CharacterType.ARCHER,191.007955,0.035603,0.858548
10,00001011,01001011,00000001,00010000,00101111,001,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [237]:
from crossover import single_point_crossover
# Seleccionar solo las columnas que se desean cruzar
columns_to_crossover = ['strength', 'agility', 'expertise', 'resistance', 'life', 'height']
new_individuals = single_point_crossover(cromosomas, columns_to_crossover)
new_individuals

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,00111110,00000011,00101010,00011010,00000011,101,CharacterType.ARCHER,769.797636,0.143486,0.143486
1,00011110,00010011,01000100,00101100,00000011,101,CharacterType.ARCHER,567.405485,0.105761,0.249247
2,01001110,00010110,00011101,00001001,00010100,011,CharacterType.ARCHER,489.696140,0.091277,0.340524
3,00100100,00000010,00100010,00100101,00100001,000,CharacterType.ARCHER,451.662288,0.084187,0.424711
4,00100010,00011000,00010101,00010111,00111100,101,CharacterType.ARCHER,341.472726,0.063649,0.488360
5,00111010,00000110,00010110,00000011,00110001,110,CharacterType.ARCHER,338.019194,0.063005,0.551365
6,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.683180,0.035356,0.893904
7,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.683180,0.035356,0.893904
8,00001011,00101011,00011001,00110000,00101111,101,CharacterType.ARCHER,191.007955,0.035603,0.858548
9,00010000,01000111,00000111,00001010,00010110,011,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [238]:
from genes import decode_genes
cromosomas_decoded = decode_genes(new_individuals)
cromosomas_decoded

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
1,62,3,42,26,3,1.8,CharacterType.ARCHER,769.797636,0.143486,0.143486
2,30,19,68,44,3,1.8,CharacterType.ARCHER,567.405485,0.105761,0.249247
3,78,22,29,9,20,1.6,CharacterType.ARCHER,489.696140,0.091277,0.340524
4,36,2,34,37,33,1.3,CharacterType.ARCHER,451.662288,0.084187,0.424711
5,34,24,21,23,60,1.8,CharacterType.ARCHER,341.472726,0.063649,0.488360
6,58,6,22,3,49,1.9,CharacterType.ARCHER,338.019194,0.063005,0.551365
7,23,108,13,1,5,1.4,CharacterType.ARCHER,189.683180,0.035356,0.893904
8,23,108,13,1,5,1.4,CharacterType.ARCHER,189.683180,0.035356,0.893904
9,11,43,25,48,47,1.8,CharacterType.ARCHER,191.007955,0.035603,0.858548
10,16,71,7,10,22,1.6,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [239]:
from crossover import valid_offspring
offspings, offspring_ok = valid_offspring(cromosomas_decoded)

print(f"Cantidad de hijos validos: {offspings}")
offspring_ok

Cantidad de hijos validos: 2

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
7,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904
8,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904

- Cantidad de hijos validos: 4
-     strength  agility expertise	resistance	life  height  type	                performance	 performance_relative   performance_accumulated
- 5	  2	        30	    3	        6	        109	  2.0	  CharacterType.ARCHER	6.277699	 0.001625	            1.0
- 6	  50	    18	    3	        18	        61	  1.7	  CharacterType.ARCHER	119.533975	 0.030933	            0.881345
- 9	  4	        39	    92	        4	        11	  1.4	  CharacterType.ARCHER	106.010218	 0.027433	            0.908778
- 10  4	        39	    92	        4	        11	  1.4	  CharacterType.ARCHER	106.010218	 0.027433	            0.908778

In [240]:
from crossover import two_point_crossover

# Seleccionar solo las columnas que se desean cruzar
columns_to_crossover = ['strength', 'agility', 'expertise', 'resistance', 'life', 'height']
new_individuals2 = two_point_crossover(cromosomas, columns_to_crossover)
new_individuals2

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
0,00111110,00010011,00000110,00011000,00000011,101,CharacterType.ARCHER,769.797636,0.143486,0.143486
1,00011110,00000011,01101000,00101110,00000011,101,CharacterType.ARCHER,567.405485,0.105761,0.249247
2,00101100,00000010,00100010,00000101,00100001,000,CharacterType.ARCHER,489.696140,0.091277,0.340524
3,01000110,00010110,00011101,00101001,00010100,011,CharacterType.ARCHER,451.662288,0.084187,0.424711
4,00101010,00011110,00010110,00000011,00110001,100,CharacterType.ARCHER,341.472726,0.063649,0.488360
5,00110010,00000000,00010101,00010111,00111100,111,CharacterType.ARCHER,338.019194,0.063005,0.551365
6,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.683180,0.035356,0.893904
7,00010111,01101100,00001101,00000001,00000101,001,CharacterType.ARCHER,189.683180,0.035356,0.893904
8,00001000,00001111,00000011,00100000,00010110,001,CharacterType.ARCHER,191.007955,0.035603,0.858548
9,00010011,01100011,00011101,00011010,00101111,111,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [241]:
from genes import decode_genes
cromosomas_decoded2 = decode_genes(new_individuals2)
cromosomas_decoded2

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
1,62,19,6,24,3,1.8,CharacterType.ARCHER,769.797636,0.143486,0.143486
2,30,3,104,46,3,1.8,CharacterType.ARCHER,567.405485,0.105761,0.249247
3,44,2,34,5,33,1.3,CharacterType.ARCHER,489.696140,0.091277,0.340524
4,70,22,29,41,20,1.6,CharacterType.ARCHER,451.662288,0.084187,0.424711
5,42,30,22,3,49,1.7,CharacterType.ARCHER,341.472726,0.063649,0.488360
6,50,0,21,23,60,2.0,CharacterType.ARCHER,338.019194,0.063005,0.551365
7,23,108,13,1,5,1.4,CharacterType.ARCHER,189.683180,0.035356,0.893904
8,23,108,13,1,5,1.4,CharacterType.ARCHER,189.683180,0.035356,0.893904
9,8,15,3,32,22,1.4,CharacterType.ARCHER,191.007955,0.035603,0.858548
10,19,99,29,26,47,2.0,CharacterType.ARCHER,41.673718,0.007768,0.993819

In [242]:
from crossover import valid_offspring
offspings, offspring_ok = valid_offspring(cromosomas_decoded2)

print(f"Cantidad de hijos validos: {offspings}")
offspring_ok

Cantidad de hijos validos: 2

,strength,agility,expertise,resistance,life,height,type,performance,performance_relative,performance_accumulated
7,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904
8,23,108,13,1,5,1.4,CharacterType.ARCHER,189.68318,0.035356,0.893904